{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold text-center">Django Jobs. Get Hired
            Quickly!</h2> <br>
        <div class="card">
            <div class="card-body">
                <form class="row gy-2 gx-3 align-items-center" method="GET">
                    <div class="col-auto">
                        <label for="autoSizingInput">Name</label>
                        {% render_field filter.form.title class="form-control" id="autoSizingInput" placeholder="Job title" %}
                        <!-- <input type="text" class="form-control" id="autoSizingInput" placeholder="Job title"> -->
                    </div>
                    <div class="col-auto">
                        <label for="autoSizingSelect">Enter Minimum Salary</label>
                        {% render_field filter.form.salary class="form-control" %}
                    </div>
                    <div class="col-auto">
                        <label for="autoSizingSelect">Select
                            Location</label>
                            {% render_field filter.form.state class="form-control" %}
                    </div>
                    
                    <!-- <div class="col-auto">
                        
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div> -->
                    <div class="col-auto d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p class="text-center">Welcome to Welders Job Portal! Search and get your
        dream job. We have thousands of job
        offerings for you. Don't forget to leave a like when you get a job.
        Good luck with your job hunt!</p>
    <div class="text-center mb-4">
    </div>
</div>
<div class="row">
    {% for job in filter.qs %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{job.title}}</h5>
                <p class="card-text">Posted by:{{job.company}}</p>
                <p class="card-text">Location:{{job.city}} | {{job.state}}  </p>
                <p class="card-text">{{job.description}}</p>
                <p class="card-text">{{job.salary | intcomma}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <small class="text-muted">created {{ job.timestamp | naturaltime }}</small>
                <a class="btn btn-primary btn-sm" href="{% url 'job-details' job.pk %}">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock body%}