{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">{{job.title}}</h2>
        <p class="col-md-8 fs-5 mt-3">
            {{job.state}} | {{job.city}}  | Per Month:{{job.salary}}
        </p>
        <p class="col-md-8 fs-5 mt-3">
            No Of Vacancy:{{job.vacancy}}
        </p>
        <p class="col-md-8 fs-5 mt-3">
            Minimum Experience:{{job.exp_requried}}
        </p>
        {% if has_applied == False %}
        {% if request.user.is_applicant %}
        {% if request.user.has_resume %}
        <a href="{% url 'job-application' job.pk %}" class="btn btn-primary btn-lg">Apply Now</a>
        {% endif %}
        {% endif %}
        {% else %}
        <p > <span class="text-danger">You have already applied for this job.</span></p>
        {% endif %}
        <br><br><br>

        <section>
            <h5>Job Description</h5>
            <p>
                {{job.description}}
            </p>
        </section>
    </div>
</section>
<div>
    

</div><br>

<div class="row g-4">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">About the Company</h5>
                <p class="card-text">Company:{{job.company}}</p>
                <p class="card-text">Location:{{job.company.state}} | {{job.company.city}}</p>
                <p class="card-text">Established:{{job.company.est_date}}</p>
                <p class="card-text">Email:{{job.company.user}}</p>
                <p class="card-text">Description:{{job.company.desc}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock body%}