{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block body %}
<section class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">Welding Jobs. Get Hired Quickly!</h2>
        <p class="col-md-8 fs-5 mt-3">
            All Available Jobs
        </p>
    </div>
</section>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if jobs %}
    {% for job in jobs %}
    <div class="col mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{job.title}}</h5>
                <p class="card-text">Posted by:{{job.company}}</p>
                <p class="card-text">Location:{{job.location}}</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">{{job.salary | intcomma}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <small class="text-muted">created {{ job.timestamp | naturaltime }}</small>
                <a class="btn btn-primary btn-sm" href="{% url 'job-details' job.pk %}">View Details</a>
            </div>
            
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock body%}
