{% extends "base.html" %}
{% load static %}
{%load widget_tweaks%}

{% block body %}

<div class="container mt-3"> 
    <div class="border border-primary rounded p-3">
        <legend class="text-primary">Create A Job requirment</legend>
        <form method="POST"> 
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Field 1</label>
                <input type="text" class="form-control" id="name" name="name"
                    required>
            </div>
            <div class="mb-3">
                <label for="est_date" class="form-label">Field 2</label>
                <input type="year" class="form-control" id="est_date" name="est_date"
                    required>
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">Field 3</label>
                <input type="text" class="form-control" id="state" name="state"
                    required>
            </div>
            <div class="mb-3">
                <label for="floatingTextarea2">Description</label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock body%}
